*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: color 1s;
}html{
    height: 100%;
}body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-text-color);
    text-align: left;
    background-color: var(--body-background);
    line-height: 1.5;
    height: 100%;
    background-color: var();
}.menu-button{
    display: none;
}.list-group{
    width: 210px;
    margin: 1rem;
    padding: 0;
    margin-bottom: 4rem;
    overflow-y: scroll;
}.list-group-item.active {
    z-index: 2;
    color: var(--list-group-item-text-color);
    background-color: #007bff;
    border-color: #007bff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}.list-group-item {
    cursor: pointer;
    border-radius: .75rem;
    margin-top: .50rem;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    margin-right: auto;
    background-color: var(--components-background-color);
    border: 1px solid var(--list-group-item-border);
    user-select: none;
}.container{
    height: 100%;
    display: flex;
    position: fixed;
}.main-page{
    position: relative;
    margin-left: 226px;
    height: 100%;
    border-radius: .75rem 0 0 .75rem;
    background-color: var(--main-page-background-color);
    overflow: scroll;
}.bottom-menu{
    position: fixed;
    bottom: .75rem;
    left: .75rem;
}.bottom-menu-buttons{
    display: inline-block;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: .50rem;
    padding: .35rem .75rem .95rem;
    margin-bottom: -1px;
    background-color: var(--components-background-color);
    border: 1px solid var(--list-group-item-border);
}.logout{
    cursor: pointer;
    border-radius: 1rem;
    margin-top: .50rem;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    color: var(--main-text-color);
    background-color: var(--components-background-color);
    border: 1px solid var(--list-group-item-border);
}.bottom-menu-buttons.active{
    display: none;
}.icon-tabler{
    stroke: var(--icons-color);
    fill: var(--icons-color);
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: -5px;
}.icon-tabler-info-circle{
    fill: none;
}.main-page-inner{
    -webkit-box-sizing: border-box;
    box-sizing: content-box;
    padding: .5rem;
    display:none;
}.main-page-block{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
    grid-template-columns: repeat(auto-fill,minmax(219px,1fr));
    grid-template-areas: calc(100% - 80px);
    
}.main-page-inner.active{
    display: block;
}.main-page-cards{
    display: flex;
    background-color: aqua;
    min-height: 20px;
    flex: 50%;
    margin: .5rem;
}.main-page-sender{
    position: relative;
    width: calc(100% - 20px);
}.input-group{
    color: black;
    margin: 1rem;
    display: flex;
    font-size: 1rem;
    margin-bottom: 1rem;
}.form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(2.25rem + 2px);
    border: 0;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    resize: vertical;
}.form-control-subform{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    height: calc(2.25rem + 2px);
    border: 0;
    border: 1px solid #ced4da;
    border-right: 0;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    resize: vertical;
}.input-group-prepend{
    padding: .375rem .75rem;
    margin-right: -1px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem 0 0 .25rem;
    display: grid;
}.input-group-text{
    display: flex;
    align-items: center;
}.embed-sender1{
    margin: auto;
    font-style: inherit;
    font-family: inherit;
    word-wrap: break-word;
    width: 70%;
    max-width: 547;
    background-color: black;
}.embed-title{
    display: flex;
    flex: 1 1 auto;
    width: 1%;
    border: 0;
    color: black;
    height: 38px;
    min-height: 38px;
}.embed-sender1-1{
    display: flex;
}.embed-preview{
    position: fixed;
    display: block;
    top: 0;
    right: calc(-100% + 246px + 1.25rem);
    background-color: var(--embed-preview-background-color);
    width: calc(100% - 246px);
    height: 100%;
    border-radius: .75rem 0 0 .75rem;
    cursor: pointer;
    transition: right 1s;
}.embed-preview.active{
    right: 0;
}.embed-preview2{
    position: fixed;
    display: block;
    top: 47%;
    right: -2.9rem;
    rotate: 90deg;
}.embed-preview.active div.embed-preview2{
    display: none;
}.embed-preview1{
    display: block;
    width: 100%;
    padding: .5rem;
    transition-duration: 1s;
    transition-property: all;
}.em.icon-tabler-sun,.icon-tabler-moon{
    stroke: var(--icons-color);
    fill: var(--icons-color);
}.login{
    display: none;
    z-index: 10000;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}.login.invisible{
    opacity: 0;
}.login.active{
    display: flex;
}.login-panel{
    display: block;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 18px 280px -60px black;
    position: fixed;
    width: 300px;
    animation: none;
    z-index: 10000;
    padding: .25rem;
}.login-title{
    margin: auto;
    text-align: center;
}.login-image{
    z-index: 9999;
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(/resource/images/StockSnap_SOWWXPOTCP.jpg) no-repeat center center fixed;
    background-size: cover;
    animation: backgroundAnimation 20s forwards;
}.login-button{
    cursor: pointer;
    border-radius: 1rem;
    padding: .75rem 1.25rem;
    color: var(--main-text-color);
    background-color: var(--components-background-color);
    border: 1px solid var(--list-group-item-border);
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.1s;
    transition-property: all;
}.login-button:hover{
    box-shadow: 0 0 1rem .25rem black;
    
}.login-button.active{
    animation: loading 5s linear infinite;
    width: 5rem;
    height: 5rem;
    border-right-color: #007bff;
    align-items: center;
    border-radius: 50%;
    border-width: 3px;
}.login-button.active div{
    animation: loading1 5s linear infinite;
}.form-control-checkbox{
    position: relative;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(2.25rem + 2px);
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}#checkbox_send_timer[type=checkbox]{
    display: none;
}.form-control-checkbox div.checkbox_send_2{
    display: none;
}input:checked ~ .form-control-checkbox div.checkbox_send_1{
    display: none;
}input:checked ~ .form-control-checkbox div.checkbox_send_2{
    display: block;
}#colapse_time_menu{
    height: 0;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
}#colapse_time_menu :last-child {
    margin-bottom: 0;
}input:checked ~ #colapse_time_menu{
    height: 6.75rem;
}.inv{
    display: none;
}.checkbox-send{
    display: flex;
    width: 1%;
    flex: 1 1 auto;
    user-select: none;
    align-items: center;
    padding: 0;
    align-items: center;
}.checkbox-send label{
    width: 100%;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}.checkbox-send:hover,.form-control-checkbox:hover{
    background-color: #c2c3c5;
}.checkbox-send-colapse{
    width: 1%;
    flex: 1 1 auto;
    transform: scaleY(0);
    transform-origin: 50% 0;
    overflow: hidden;
    padding: 0;
    transition: all 1s;
    border-width: 0;
    border-radius: 0 0 .25rem .25rem;
    height: fit-content;
}.checkbox-send-colapse.active{
    transform: scaleY(1);
    border-width: 1px;
}.input-group.vk-dis,.input-group.vk-dis label{
    margin-bottom: 0;
}.input-group.vk-dis1,.input-group.vk-dis1 label{
    margin-top: 0;
    border-top-width: 0;
}.checkbox-send input:checked~label{
    background-color: #007bff;
}.input-group-prepend label.input-group{
    border-radius: .25rem;
}.checkbox-send-colapse > div{
    display: block;
}.embed-discord{
    margin: 1rem;
    background: rgb(54, 57, 63);
}.embed-discord > .title{
    background: var(--embed-preview-background-color);
}.embed-discord .message{
    padding-left: 72px;
    padding-right: 48px !important;
    margin-top: 3rem;
    color: #fff;
}.embed-discord .message .message-title *{
    display: inline-block;
}.embed-discord-avatar{
    position: absolute;
    left: 44px;
    margin-top: calc(4px - .125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 0;
}.embed-discord .message .bot{
    border-radius: .1875rem;
    background-color: hsl(235,calc(85.6%),64.7%);
    font-weight: 500;
    font-family: inherit;
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: .1875rem;
    font-size: .625rem;
}.embed-message-embed{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: .25rem;
    grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: .125rem;
    padding-bottom: .125rem;
    position: relative;
}.embed-message-embed > div{
    border-left: 4px solid #0f0f0f;
    background: rgb(47, 49, 54);
    border-radius: 4px;
}

@keyframes backgroundAnimation{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading1 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}